# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# node modules and static stuff
# si no se necesitan por el momento hay que considerar quitarlos porque generan mucho archivo estatico que no usamos
# Agregar dependencias estaticas manualmente
# ersteops/static/node_modules
# ersteops/static/bower_components

# C extensions
*.so


*.egg-info/
.installed.cfg
*.egg


# Installer logs
pip-log.txt
pip-delete-this-directory.txt


# dotenv
.env

# virtualenv
.venv
venv/
ENV/
env_2_2
env_3.6
env_2_2_ok
env_2_21_ok
ChatTester



# mypy
.mypy_cache/
.vagrant/

#environmental variables
config/

# nodejs
node_modules
ersteops/static/bundles
webpack-stats.json
yarn-error.log
dist/
npm-debug.log

CFDI

