dj-database-url==0.4.2
Django==1.11.7
gunicorn==19.7.1
psycopg2==2.7.3.1
whitenoise==3.3.1
channels==1.1.8
asgi_redis==1.4.3
redis==2.10.6
rq==0.9.2
django-redis==4.8.0
django-rq==1.0.0
django-jet==1.0.6
feedparser==5.2.1
requests==2.4.3
django-widget-tweaks==1.4.1
django-webpack-loader==0.5.0
django-preventconcurrentlogins==0.8.1
django-pivot==1.6.1
django-admin-rangefilter==0.3.6
