dj-database-url
Django
gunicorn
psycopg2
whitenoise
channels
#asgi_redis
redis
rq
django-redis
django-rq
django-jet
feedparser
requests
django-widget-tweaks
django-webpack-loader
django-preventconcurrentlogins
django-pivot
django-admin-rangefilter
channels-redis