<form v-else class="uk-form-stacked">
  <div class="timers-update">
    <div class="c-field">
      <div class="timers-label">  

        <select class="uk-select"
        v-model="selected">
          <option v-for="option in options" :value="option.value">
            {{ option.text }}
          </option>
        </select>
        <div v-if="selected === 'Hemoderivado-Solucion'">
          <label class="uk-form-label" for="id_medicationName">Solucion</label>
          <input class="uk-input" 
          v-model="medicationName"
          id="id_medicationName" type="text" placeholder="Solucion...">
          <label class="uk-form-label" for="id_medicationDose">Dosis</label>
          <input class="uk-input" 
          v-model="medicationDose"
          id="id_medicationDose" type="text" placeholder="Dosis...">
        </div>    
      
        <div v-if="selected === 'Hemoderivado-Hemoderivado'">
          <label class="uk-form-label" for="id_medicationName">Hemoderivado</label>
          <input class="uk-input"
            v-model="medicationName"
           id="id_medicationName" type="text" placeholder="Solucion...">
          <label class="uk-form-label" for="id_medicationDose">Dosis</label>
          <input class="uk-input" 
          v-model="medicationDose"
          id="id_medicationDose" type="text" placeholder="Dosis...">
        </div>

        <div v-if="selected === 'Cardiovascular-Desfibrilacion'">
          <label class="uk-form-label" for="id_medicationName">Desfibrilacion</label>
          <input class="uk-input" 
            v-model="medicationName"
            id="id_medicationName" type="text" placeholder="Ddesfibrilacion...">
          <label class="uk-form-label" for="id_medicationDose">Dosis</label>
          <input class="uk-input" 
            v-model="medicationDose"
            id="id_medicationDose" type="text" placeholder="Dosis...">          
        </div>

        <div v-if="selected === 'Cardiovascular-Cardioversion'">
          <label class="uk-form-label" for="id_medicationName">Cardioversion</label>
          <input class="uk-input" 
            v-model="medicationName"
            id="id_medicationName" type="text" placeholder="cardioversion...">
          <label class="uk-form-label" for="form-stacked-text">Dosis</label>
          <input class="uk-input" 
            v-model="medicationDose"
            id="id_medicationDose" type="text" placeholder="Dosis...">          
        </div>

        <div v-if="selected === 'Farmacologico-Farmaco'">
          <label class="uk-form-label" for="id_medicationName">Farmaco</label>
          <input class="uk-input" 
            v-model="medicationName"
            id="id_medicationName" type="text" placeholder="Farmaco...">
          <label class="uk-form-label" for="id_medicationDose">Dosis</label>
          <input class="uk-input" 
            v-model="medicationDose"
            id="id_medicationDose" type="text" placeholder="Dosis...">
          <label class="uk-form-label" for="id_medicationHrs">Hrs</label>
          <input class="uk-input" 
            v-model="medicationHrs"
            id="id_medicationHrs" type="text" placeholder="Hrs...">             
        </div>

        <div v-if="selected === 'Farmacologico-Aminas'">
          <label class="uk-form-label" for="id_medicationName">Aminas</label>
          <input class="uk-input" 
            v-model="medicationName"
            id="id_medicationName" type="text" placeholder="Farmaco...">
          <label class="uk-form-label" for="id_medicationDose">Dosis</label>
          <input class="uk-input" 
            v-model="medicationDose"
            id="id_medicationDose" type="text" placeholder="Dosis...">
          <label class="uk-form-label" for="id_medicationHrs">Hrs</label>
          <input class="uk-input" 
            v-model="medicationHrs"
            id="id_medicationHrs" type="text" placeholder="Hrs...">             
        </div>

        <div class="timers-label">
          <li v-for="(value, key) in paperless.medications">
            {{ value.medication_type }} - {{ value.medication_name }} - {{ value.medication_dose }} -- {{ value.medication_hrs }} <button uk-icon="minus-circle" @click="eliminate($event,key)"></button>
          </li>
        </div>  

        <div class="timers-button">
          <button @click="submit" class="c-btn c-btn--info" v-close-popover>Agregar</button>
        </div>
      
      </div>
    </div>
  </div>
</form>
