{% extends 'home/base_ui.html' %}
{% load staticfiles %}
{% block title %}Sintomas{% endblock title %}

{% block cssblock %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@riophae/vue-treeselect@0.0.28/dist/vue-treeselect.min.css">

<style type="text/css">

  #app3 {
    max-width: 30em;
    margin: 1em auto;
    height: 350px;
  }

  #app5 {
    max-width: 30em;
    margin: 1em auto;
    height: 250px;
  }

</style>

{% endblock cssblock %}

{% block header %}
  {% include "ui_component/sidebar.html" %}
{% endblock header %}

{% block content %}
<main class="o-page__content">
  {# Main header #}
  {% include "ui_component/header.html" %}
  <div class="container">
  	<div style="padding-top:55px">
  		<h1> Decision Tree</h1>

  		{% if messages %}
        <div class="row">
          <ul class="messages">
            {% for message in messages %}
              <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
              </div>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      <!-- VUE Components -->

      <div class=row>

        <div id="app5">
          <h1>Sintoma Principal</h1>
          <v-select label="label" :filterable="false" :options="options" @search="onSearch" @input="getTree"></v-select>
        </div>

        <div id="app3">
          <h1>Arbol</h1>
          <treeselect v-model="value" 
            :multiple="false" 
            :options="options" 
            :show-count="true" 
            v-on:select="showGrade"
            v-on:open="loadOpen"
            />
        </div>

      </div>
      <!-- End VUE Components -->

  	</div>
  </div>
</main>
{% endblock content %}

{% block jsblock %}
<!-- loadsh library -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>

<!-- Vue -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<!-- Vue Select -->
<script src="https://unpkg.com/vue-select@latest"></script>

<!-- Vuex -->
<script src="https://unpkg.com/vuex"></script>

<!-- Vue-treeselect -->
<script src="https://cdn.jsdelivr.net/npm/@riophae/vue-treeselect@0.0.28/dist/vue-treeselect.min.js"></script>


<script type="text/javascript">

// Vue Store

var store = {
  debug: true,
  state: {
    message: '1-1000000',
  },
  setMessageAction (newValue) {
    if (this.debug) console.log('setMessageAction triggered with', newValue)
    this.state.message = newValue
  },
  clearMessageAction () {
    if (this.debug) console.log('clearMessageAction triggered')
    this.state.message = ''
  }
}

// Sleep function for async ajax api
const sleep = d => new Promise(r => setTimeout(r, d))

// Tree Select
Vue.component('treeselect', VueTreeselect.Treeselect)

new Vue({
  el: '#app3',
  store,
  data: {
    // define default value
    value: null,
    options: null,
  },
  methods: {
    // Use to asign vali when correct symptom selected from Decision tree
    showGrade: function (vm) {
      console.log('Selected!')
    },
    // Called when user click on component, load tree data based on main symptom selection
    async loadOpen (vm){
      //console.log('loadOpen');
      var my_result = []
      $.ajax({url: "/ajaxapi/get_tree_zero/",data: {'term': store.state.message} ,dataType: 'json', success: function(result){
              //console.log('call ajax');
              //console.log(result);
              return my_result=result;
              }}).responseJSON;
      await sleep(1000);
      this.options = my_result;
    },
  },
})
// End Tree Select

// Vue Select ajax
Vue.component('v-select', VueSelect.VueSelect);

new Vue({
  el: "#app5",
  data: {
    options: []
  },
  methods: {
    // Use when user beigin typing on main symptom field
    onSearch: function onSearch(search, loading) {
      loading(true);
      this.search2(loading, search, this);
    },

    // search: _.debounce(function (loading, search, vm) {
    //   fetch("http://localhost:8000/ajaxapi/get_symptom/?q=" + escape(search)).then(function (res) {
    //     res.json().then(function (json) {
    //       return vm.options = json.items;
    //     });
    //     loading(false);
    //   });
    // }, 350),

    search2: _.debounce(function (loading, search, vm){
              var self = vm;
              //Call ajax end point to get Main symptom list
              $.ajax({url: "/ajaxapi/get_symptom/",data: {'term': search} ,dataType: 'json', success: function(result){
                return vm.options = result;
              }});
              loading(false);
              return vm.options;
            },350),
    // Use when user select a symptom form list
    getTree: function(val){
      try {
        if(val.id){
          store.setMessageAction(val.id)
          }
        }
      catch{ console.log('sin seleccion!'); }
    },
  },
});


</script>
{% endblock jsblock %}