{% extends 'home/base_ui.html' %}
{% load staticfiles %}
{% load user_tags %}

{% block cssblock %}
  <link rel="stylesheet" href='{% static "bower_components/jquery-ui/themes/base/jquery-ui.css" %}'  type="text/css" media="all" />
  <link rel="stylesheet" href="{% static "uikit-3.14.1/css/uikit.css" %}" />
  <link rel="stylesheet" href="{% static "paperless/css/styles.css"%}" />
{% endblock cssblock %}

{% block header %}
  {# Main Sidebar #}
  {% include "ui_component/sidebar.html" %}

{% endblock header %}

{% block content %}
  <main class="o-page__content">
    {# Main header #}
    {% include "ui_component/header.html" %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
        {% if request.user|has_group:"Operator"%}

          <div id="analytics"></div>
          {# TODO add mini components of wireframe#}
          <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
            <legend class="uk-legend">Parte Medico</legend>
            <div id="geoposition-map"></div>
            <div id="medicalreport-log"></div>
          </div>
        {% endif %}
        </div>
      </div><!-- // .row -->
    </div> <!-- // .container -->

  </main><!-- // .o-page__content -->
{% endblock %}

{% block jsheadblock %}

<script>
  //var incident_json_list = {{ object_list|safe }};
  //var units_json_list = {{ units_list|safe }};
  //var available_units_counter = {{ available_units_counter }} || 0;
  //var hospitals_json_list = {{hospitals|safe}};

  var paperless = {{ data|safe }};
  window.erste.paperless = paperless;

  //window.erste.incident = incidents_json_list;
  //window.erste.units = units_json_list;
  //window.erste.hospitals = hospitals_json_list;

  // example HTTP_PROTOCOL: {{ HTTP_PROTOCOL }}
  // ie. ABSOLUTE_URI : {{ HTTP_ABSOLUTE_URI }}



</script>
{% endblock jsheadblock %}

{% block jsblock %}
  {% load render_bundle from webpack_loader %}
  {% render_bundle 'medicalreport' 'js' %}
  <script src="{% static "uikit-3.14.1/js/uikit.js" %}"></script>
  <script src="{% static "uikit-3.14.1/js/uikit-icons.js" %}"></script>
{% endblock jsblock%}
