{% extends "home/base_ui.html" %}
{% load staticfiles %}
{% block title %}Parte Medico{% endblock title %}
{% block cssblock %}

{% endblock cssblock %}
{% block header %}
  {% include "ui_component/sidebar.html" %}
{% endblock header %}

{% block content %}
  <main class="o-page__content">
    {# Main header #}
    {% include "ui_component/header.html" %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">

        <h3>Partes Medicos</h3>
        <ul>
        {% for medical_report in object_list %}
            <li>{{ medical_report.created_at|date }} - {{ medical_report.patient_name }}</li>
        {% empty %}
            <li>No hay partes medicos aun!</li>
        {% endfor %}
        </ul>

        </div>
      </div>
    </div> <!-- // .container -->
  </main><!-- // .o-page__content -->
{% endblock content %}

{% block jsblock %}
  <!-- jquery -->

  <!-- Movil support-->
<!--   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script> -->
  <script>

  </script>
{% endblock jsblock %}
