<form>

  <label class="uk-form-label" for="id_peTime">Hora:</label>
  <input type="datetime-local"
  class="uk-input"
  v-model="peTime" 
  id="id_peTime"
   name="peTime" 
   value="2022-06-21T10:30"
   min="2018-06-07T00:00" >

  <label class="uk-form-label" for="id_peHeartRate">Frecuencia Cardiaca</label>
  <div class="uk-form-controls">
    <input class="uk-input" 
    v-model="peHeartRate"
    id="id_peHeartRate" 
    type="text" placeholder="Frecuencia...">
  </div>

  <label class="uk-form-label" for="id_peRespiratoryRate">Frecuencia Respiratoria</label>
  <div class="uk-form-controls">
    <input class="uk-input" 
    v-model="peRespiratoryRate"
    id="id_peRespiratoryRate" 
    type="text" 
    placeholder="Rerspiratoria...">
  </div>

  <label class="uk-form-label" for="id_peBloodPressure">Presion Arterial</label>
  <div class="uk-form-controls">
    <input class="uk-input"
    v-model="peBloodPressure" 
    id="id_peBloodPressure" 
    type="text" 
    placeholder="Presion Arterial..."/>
  </div>

  <label class="uk-form-label" for="id_peTemperature">Temperatura (Grados Celsius)</label>
  <div class="uk-form-controls">
    <input type="number" class="uk-input" 
    v-model="peTemperature"
    id="id_peTemperature" 
    :min="20"
    :max="60" 
    placeholder="34.5" 
    step="0.10"/>
  </div>

  <label class="uk-form-label" for="id_peOxygenSaturation">Saturacion (%)</label>
  <div class="uk-form-controls">
    <input type="number" class="uk-input" 
    v-model="peOxygenSaturation"
    id="id_peOxygenSaturation" 
     
    placeholder="98"/>
  </div>

  <label class="uk-form-label" for="id_peGlucometry">Glucometria (mg/dl)</label>
  <div class="uk-form-controls">
    <input class="uk-input" 
    v-model="peGlucometry"
    id="id_peGlucometry" 
    type="number" 
    placeholder="90"/>
  </div>

  <label class="uk-form-label" for="id_peGlassgowMotor">Glasgow Motor</label>
  <div class="uk-form-controls">
    <input type="number" class="uk-input" 
    v-model="peGlassgowMotor"
    id="id_peGlassgowMotor" 
    placeholder="1"/>
  </div>  

  <label class="uk-form-label" for="id_peGlassgowOcular">Glasgow Ocular</label>
  <div class="uk-form-controls">
    <input type="number" class="uk-input" 
    v-model="peGlassgowOcular"
    id="id_peGlassgowOcular" 
    placeholder="1"/>
  </div>  

  <label class="uk-form-label" for="id_peGlassgowVerbal">Glasgow Verbal</label>
  <div class="uk-form-controls">
    <input class="uk-input" 
    v-model="peGlassgowVerbal"
    id="id_peGlassgowVerbal" 
    type="number"
    placeholder="1"/>
  </div> 

  <div>
    <ul class="uk-list uk-list-striped">
      <li v-for="(value, key) in paperless.physical_exploration">
        <p>
          Hora: {{ value.time }}
          Frecuencia Cardiaca: {{ value.heart_rate }} 
        </p> 
      </li>
    </ul>  
  </div>

  <div class="timers-button">
    <button @click="submit" class="c-btn c-btn--info" v-close-popover>Agregar</button>
  </div>
</form>