.u-block {
  padding: 5px 10px;
}

.content-icon {
  width: 20px;
}

.content-text {
  line-height: 24px;
}

.content-type {
  margin-top: 3px;
  line-height: 16px;
}

.content-switch {
  cursor: default;
}
