<div class="row">
  <div class="col-sm-12 col-lg-6 col-xl-3">
    <div class="c-state-card">
      <div class="c-state-card__icon c-state-card__icon--info">
        <i class="fa fa-line-chart" />
      </div>

      <div class="c-state-card__content">
        <h5 class="c-state-card__number">{{ emergencies }}</h5>
        <a class="c-state-card__meta" href="/admin/">
          Auxilios Activos<span class="u-text-success" />
        </a>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-lg-6 col-xl-3">
    <div class="c-state-card">
      <div class="c-state-card__icon c-state-card__icon--fancy">
        <i class="fa fa-pie-chart" />
      </div>

      <div class="c-state-card__content">
        <h5 class="c-state-card__number">{{ units }}</h5>
        <a class="c-state-card__meta" href="/admin/unit/unit/">
          Unidades Activas<span class="u-text-success" />
        </a>
      </div>
    </div>
  </div>
</div>
