<!-- request loading indicator -->
<div v-if="loading">
  <loader class="completion_loading" color="#2ea1f8" />
  <small class="c-field__message u-color-info u-flex u-justify-center">
    Buscando información del cliente...
  </small>
</div>

<form v-else>
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="c-field">
        <label class="c-field__label" for="id_start_time">Inicio de Toma de Datos
        </label>
        <datetime
          type="datetime"
          input-class="c-input"
          id="id_start_time">
        </datetime>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="c-field">
        <label class="c-field__label" for="id_start_time">Fin de Toma de Datos
        </label>
        <datetime
          type="datetime"
          input-class="c-input"
          id="id_start_time">
        </datetime>
      </div>
    </div>
  </div>

  <span class="c-divider u-mv-medium"></span>

  <div class="row">
    <div class="col-12 col-md-4">
      <div class="c-field">
        <label class="c-field__label" for="id_start_time">Asignacion de Unidad
        </label>
        <datetime
          type="datetime"
          input-class="c-input"
          id="id_start_time">
        </datetime>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="c-field">
        <label class="c-field__label" for="id_start_time">Despacho de Unidad
        </label>
        <datetime
          type="datetime"
          input-class="c-input"
          id="id_start_time">
        </datetime>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="c-field">
        <label class="c-field__label" for="id_start_time">Arrivo de Unidad
        </label>
        <datetime
          type="datetime"
          input-class="c-input"
          id="id_start_time">
        </datetime>
      </div>
    </div>
  </div>
  <span class="c-divider u-mv-medium"></span>
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="c-field">
        <label class="c-field__label" for="id_start_time">Inicio de Atencion
        </label>
        <datetime
          type="datetime"
          input-class="c-input"
          id="id_start_time">
        </datetime>
      </div>
    </div>
  </div>

  <span class="c-divider u-mv-medium"></span>

  <div class="row">

    <div class="col-12 col-md-4">
      <div class="c-field">
        <label class="c-field__label" for="id_start_time">Inicio de Derivacion
        </label>
        <datetime
          type="datetime"
          input-class="c-input"
          id="id_start_time">
        </datetime>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <div class="c-field">
        <label class="c-field__label" for="id_start_time">Llegada del Paciente al Hopital
        </label>
        <datetime
          type="datetime"
          input-class="c-input"
          id="id_start_time">
        </datetime>
      </div>
    </div>

        <div class="col-12 col-md-4">
      <div class="c-field">
        <label class="c-field__label" for="id_start_time">
          Inicio de Atencion del Paciente en el Hopital
        </label>
        <datetime
          type="datetime"
          input-class="c-input"
          id="id_start_time">
        </datetime>
      </div>
    </div>



  </div>

</form>
