<!-- request loading indicator -->
<div v-if="loading">
  <loader class="completion_loading" color="#2ea1f8" />
  <small class="c-field__message u-color-info u-flex u-justify-center">
    Buscando información del cliente...
  </small>
</div>

<form v-else>
  <div class="row">

    <div class="col-12">
      <div class="c-field">
        <label class="c-field__label" for="patient_address">
          Direccion de atención
        </label>
        <select
          @change="choose"
          v-model="current"
          name="address"
          class="c-input"
          id="patient_address"
          required
        >
          <option v-for="address in patient.addresses" v-bind:value="address.id_address_id">
            {{ address.id_address_street }}
          </option>
        </select>
      </div>
    </div>

    <div class="col-6">
      <br />
      <div class="c-field">
        <label class="c-field__label" for="id_address_street">
          Calle y numero
        </label>
        <input
          v-model="address.id_address_street"
          type="text"
          name="address_street"
          id="id_address_street"
          class="c-input"
          maxlength="100"
        />
      </div>

      <br />
      <div class="c-field">
        <label class="c-field__label" for="id_address_extra">
          Calle
        </label>
        <input
          v-model="address.id_address_extra"
          type="text"
          name="address_extra"
          id="id_address_extra"
          class="c-input"
          maxlength="100"
        >
      </div>

      <br />
      <div class="c-field">
        <label class="c-field__label" for="id_address_zip_code">
          Codigo Postal
        </label>
        <input
          v-model="address.id_address_zip_code"
          type="text"
          name="address_zip_code"
          id="id_address_zip_code"
          class="c-input"
          maxlength="5"
        >
      </div>

      <br />
      <div class="c-field">
        <label class="c-field__label" for="id_address_county">
          Delegacion
        </label>
        <input
          v-model="address.id_address_county"
          type="text"
          name="address_county"
          id="id_address_county"
          class="c-input"
          maxlength="50"
        >
      </div>

      <br />
      <div class="c-field">
        <label class="c-field__label" for="id_address_col">
          Colonia
        </label>
        <input
          v-model="address.id_address_col"
          type="text"
          name="address_col"
          id="id_address_col"
          class="c-input"
          maxlength="50"
        >
      </div>
    </div>

    <div class="col-6">
      <br />
      <div class="c-field">
        <label class="c-field__label" for="id_address_between">
          Entre la calle
        </label>
        <input
          v-model="address.id_address_between"
          type="text"
          name="address_between"
          id="id_address_between"
          class="c-input"
          maxlength="100"
        >
      </div>

      <br />
      <div class="c-field">
        <label class="c-field__label" for="id_address_and_street">
          Y la calle
        </label>
        <input
          v-model="address.id_address_and_street"
          type="text"
          name="address_and_street"
          id="id_address_and_street"
          class="c-input"
          maxlength="100"
        >
      </div>

      <br />
      <div class="c-field">
        <label class="c-field__label" for="id_address_ref">
          Referencias
        </label>
        <input
          v-model="address.id_address_ref"
          type="text"
          name="address_ref"
          id="id_address_ref"
          class="c-input"
          maxlength="100"
        >
      </div>

      <br />
      <div class="c-field">
        <label class="c-field__label" for="id_address_front">
          Fachada
        </label>
        <input
          v-model="address.id_address_front"
          type="text"
          name="address_front"
          id="id_address_front"
          class="c-input"
          maxlength="100"
        >
      </div>

      <br />
      <div class="c-field">
        <label class="c-field__label" for="id_address_instructions">
          Instrucciones de llegada
        </label>
        <input
          v-model="address.id_address_instructions"
          type="text"
          name="address_instructions"
          id="id_address_instructions"
          class="c-input"
          maxlength="100"
        >
      </div>
    </div>

    <div class="col-12">
      <br />
      <div class="c-field">
        <label class="c-field__label" for="id_address_notes">
          Notas
        </label>
        <textarea
          v-model="address.id_address_notes"
          name="address_notes"
          id="id_address_notes"
          class="c-input"
          rows="10"
          cols="40"
        ></textarea>
      </div>

    </div>
  </div>
</form>
