<!-- request loading indicator -->
<div v-if="loading">
  <loader class="completion_loading" color="#2ea1f8" />
  <small class="c-field__message u-color-info u-flex u-justify-center">
    Buscando información del cliente...
  </small>
</div>

<form v-else>
  <div class="row">
    <div class="col-6">
      <div class="c-field">
        <label class="c-field__label" for="id_odoo_client">
          ID del Cliente
        </label>
        <input
          v-model="source.id_odoo_client || source.odoo_client"
          class="c-input"
          type="text"
          name="odoo_client"
          id="id_odoo_client"
          maxlength="50"
          readonly
          required
        />
      </div>

      <br />
      <div class="c-field">
        <label class="c-field__label" for="id_subscription_type">
          Subscripción
        </label>
        <input
          v-model="subscription"
          class="c-input"
          type="text"
          name="subscription_type"
          id="id_subscription_type"
          maxlength="100"
        />
      </div>

      <br />
      <div class="c-field">
        <label class="c-field__label" for="id_service_category">
          Tipo de emergencia
        </label>
        <select
          v-model="source.service_category"
          name="service_category"
          id="id_service_category"
          class="c-input"
        >
          <option value="" selected=""></option>
          <option value="4">Evento</option>
          <option value="7">Evento Programado</option>
          <option value="3">Servicio</option>
          <option value="6">Servicio Programado</option>
          <option value="5">Traslado</option>
          <option value="8">Traslado Programado</option>
        </select>
      </div>

      <br />
      <div class="c-field">
        <label class="c-field__label" for="id_grade_type">
          Grado Emergencia
        </label>
        <select
          v-model="source.grade_type"
          name="grade_type"
          required=""
          class="c-input" id="id_grade_type"
        >
          <option value="" selected=""></option>
          <option value="G0">G0 - Por Definir</option>
          <option value="G1">G1 - G1</option>
          <option value="G2">G2 - G2</option>
          <option value="G3">G3 - G3</option>
        </select>
      </div>

      <br />
      <div class="c-field">
        <label class="c-field__label" for="id_caller_name">
          Persona que llama
        </label>
        <input
          v-model="source.caller_name"
          type="text"
          name="caller_name"
          id="id_caller_name"
          class="c-input"
          maxlength="100"
        />
      </div>

      <br />
      <div class="c-field">
        <label class="c-field__label" for="id_caller_relation">
          Relacion con el paciente
        </label>
        <input
          v-model="source.id_caller_relation || source.caller_relation"
          type="text"
          name="caller_relation"
          id="id_caller_relation"
          class="c-input"
          maxlength="50"
        />
      </div>
    </div>

    <div class="col-6">
      <div class="c-field">
        <label class="c-field__label" for="id_zone">Zona</label>
        <select
          v-model="source.id_zone || source.zone"
          name="zone"
          class="c-input"
          id="id_zone"
          required
        >
          <option value="" selected=""></option>
          <option value="BQELMS">BQELMS - Bosque de las Lomas</option>
          <option value="ITRLMS">ITRLMS - Interlomas</option>
          <option value="LOMAS">LOMAS - Lomas de chapultepec</option>
          <option value="PLNCO">PLNCO - POLANCO</option>
          <option value="SFE">SFE - Santa Fe</option>
          <option value="TCMCHL">TCMCHL - Tecamachalco</option>
          <option value="UNICA">UNICA - Fuera de la zona de cobertura</option>
        </select>
      </div>

      <br />
      <div class="c-field">
        <label class="c-field__label" for="id_patient_name">
          Nombre del Paciente
        </label>
        <input
          v-model="source.id_patient_name || source.patient_name"
          type="text"
          name="patient_name"
          required=""
          class="c-input"
          id="id_patient_name"
          maxlength="255"
        />
      </div>

      <br />
      <div class="c-field">
        <label class="c-field__label" for="id_patient_gender">
          Genero
        </label>
        <select
          v-model="source.patient_gender"
          name="patient_gender"
          id="id_patient_gender"
          class="c-input"
        >
          <option value="" selected=""></option>
          <option value="Masculino">Masculino</option>
          <option value="Femenino">Femenino</option>
        </select>
      </div>

      <br />
      <div class="c-field">
        <label class="c-field__label" for="id_patient_age">
          Edad (años)
        </label>
        <input
          v-model="source.id_patient_age || source.patient_age"
          type="number"
          name="patient_age"
          value="0"
          id="id_patient_age"
          class="c-input"
        />
      </div>

      <br />
      <div class="c-field">
        <label class="c-field__label" for="id_patient_allergies">
          Alergias
        </label>
        <input
          v-model="source.id_patient_allergies || source.patient_allergies"
          type="text"
          name="patient_allergies"
          id="id_patient_allergies"
          class="c-input"
          maxlength="100"
        />
      </div>

      <br />
      <div class="c-field">
        <label class="c-field__label" for="id_patient_illnesses">
          Enfermedades diagnosticadas
        </label>
        <input
          v-model="source.id_patient_illnesses || source.patient_illnesses"
          type="text"
          name="patient_illnesses"
          id="id_patient_illnesses"
          class="c-input"
          maxlength="100"
        />
      </div>
    </div>
  </div>

  <br />
  <div class="row">
    <div class="col-12">
      <div class="c-field">
        <label class="c-field__label" for="id_main_complaint">
          Sintoma principal
        </label>
        <input
          v-model="source.main_complaint"
          type="text"
          name="main_complaint"
          id="id_main_complaint"
          class="c-input"
          maxlength="100"
        />
      </div>

      <br />
      <div class="c-field">
        <label class="c-field__label" for="id_complaint_descriprion">
          Descripción de los sintomas
        </label>
        <textarea
          v-model="source.complaint_descriprion"
          name="complaint_descriprion"
          id="id_complaint_descriprion"
          class="c-input"
          rows="2"
          cols="40"
        ></textarea>
      </div>

      <br />
      <div class="c-field">
        <label class="c-field__label" for="id_patient_notes">
          Notas paciente
        </label>
        <textarea
          v-model="source.patient_notes"
          name="patient_notes"
          id="id_patient_notes"
          class="c-input"
          rows="2"
          cols="40"
        ></textarea>
      </div>
    </div>
  </div>
</form>
