<!-- request loading indicator -->
<div v-if="loading">
  <loader class="completion_loading" color="#2ea1f8" />
  <small class="c-field__message u-color-info u-flex u-justify-center">
    Buscando información del cliente...
  </small>
</div>

<form v-else>
  <div class="row">
    <div class="col-4">
      <div class="c-field">
        <label class="c-field__label" for="id_patient_name">
          Nombre del Paciente
        </label>
        <input
          autofocus
          tabindex="1"
          v-model="source.patient_name"
          v-validate="'required'"
          data-vv-scope="emergency"
          data-vv-name="patient_name"
          :class="{
            'c-input': true,
            'c-input--danger': errors.has('emergency.patient_name')
          }"
          type="text"
          name="patient_name"
          id="id_patient_name"
          maxlength="255"
        />
      </div>
      <small v-show="errors.has('emergency.patient_name')" class="c-field__message u-color-danger">
        <i class="fa fa-times-circle"></i>{{ errors.first('emergency.patient_name') }}
      </small>

      <br />
      <div class="c-field">
        <label class="c-field__label" for="id_patient_age">
          Edad (años)
        </label>
        <input
          tabindex="5"
          v-model="source.patient_age"
          type="number"
          name="patient_age"
          value="0"
          id="id_patient_age"
          class="c-input"
        />
      </div>

      <br />
      <div class="c-field">
        <label class="c-field__label" for="id_patient_allergies">
          Alergias
        </label>
        <input
          tabindex="8"
          v-model="source.patient_allergies"
          type="text"
          name="patient_allergies"
          id="id_patient_allergies"
          class="c-input"
          maxlength="100"
        />
      </div>
    </div>
    <div class="col-4">
      <div class="c-field">
        <label class="c-field__label" for="id_odoo_client">
          ID del Cliente
        </label>
        <input
          tabindex="2"
          v-model="source.odoo_client"
          v-validate="'required'"
          data-vv-scope="emergency"
          data-vv-name="odoo_client"
          :class="{
            'c-input': true,
            'c-input--danger': errors.has('emergency.odoo_client')
          }"
          type="text"
          name="odoo_client"
          id="id_odoo_client"
          maxlength="50"
          readonly
        />
      </div>
      <small v-show="errors.has('emergency.odoo_client')" class="c-field__message u-color-danger">
        <i class="fa fa-times-circle"></i>{{ errors.first('emergency.odoo_client') }}
      </small>

      <br />
      <div class="c-field">
        <label class="c-field__label" for="id_patient_gender">
          Genero
        </label>
        <select
          tabindex="6"
          v-model="source.patient_gender"
          name="patient_gender"
          id="id_patient_gender"
          class="c-input"
        >
          <option value="" selected=""></option>
          <option value="Masculino">Masculino</option>
          <option value="Femenino">Femenino</option>
        </select>
      </div>

      <br />
      <div class="c-field">
        <label class="c-field__label" for="id_patient_illnesses">
          Enfermedades diagnosticadas
        </label>
        <input
          tabindex="9"
          v-model="source.patient_illnesses"
          type="text"
          name="patient_illnesses"
          id="id_patient_illnesses"
          class="c-input"
          maxlength="100"
        />
      </div>
    </div>
    <div class="col-4">
      <div class="c-field">
        <label class="c-field__label" for="id_subscription_type">
          Subscripción
        </label>
        <input
          tabindex="4"
          v-model="subscription"
          class="c-input"
          type="text"
          name="subscription_type"
          id="id_subscription_type"
          maxlength="100"
        />
      </div>

      <br />
      <div class="c-field">
        <label class="c-field__label" for="id_caller_relation">
          Relacion con el titular
        </label>
        <input
          tabindex="7"
          v-model="source.caller_relation"
          type="text"
          name="caller_relation"
          id="id_caller_relation"
          class="c-input"
          maxlength="50"
        />
      </div>

      <br />
      <div class="c-field">
        <label class="c-field__label" for="id_caller_name">
          Persona que llama
        </label>
        <input
          tabindex="11"
          v-model="source.caller_name"
          type="text"
          name="caller_name"
          id="id_caller_name"
          class="c-input"
          maxlength="100"
        />
      </div>
    </div>
  </div>

  <span class="c-divider u-mv-medium"></span>
  <div class="row">
    <div class="col-6">
      <div class="c-field">
        <label class="c-field__label" for="id_main_complaint">
          Sintoma principal
        </label>
        <textarea
          tabindex="11"
          v-model="source.main_complaint"
          type="text"
          name="main_complaint"
          id="id_main_complaint"
          class="c-input"
          rows="2"
          cols="40"
        ></textarea>
      </div>
    </div>
    <div class="col-6">
      <div class="c-field">
        <label class="c-field__label" for="id_complaint_descriprion">
          Descripción de los sintomas
        </label>
        <textarea
          tabindex="13"
          v-model="source.complaint_descriprion"
          name="complaint_descriprion"
          id="id_complaint_descriprion"
          class="c-input"
          rows="2"
          cols="40"
        ></textarea>
      </div>
    </div>
  </div>

  <span class="c-divider u-mv-medium"></span>

  <div class="row">
    <div class="col-6">
      <div class="c-field">
        <label class="c-field__label" for="id_service_category">
          Tipo de emergencia
        </label>
        <select
          tabindex="14"
          v-model="source.service_category"
          name="service_category"
          id="id_service_category"
          class="c-input"
        >
          <option value="" selected=""></option>
          <option value="4">Evento</option>
          <option value="7">Evento Programado</option>
          <option value="3">Servicio</option>
          <option value="6">Servicio Programado</option>
          <option value="5">Traslado</option>
          <option value="8">Traslado Programado</option>
        </select>
      </div>
    </div>
    <div class="col-6">
      <div class="c-field">
        <label class="c-field__label" for="id_grade_type">
          Grado Emergencia
        </label>
        <select
          tabindex="15"
          v-model="source.grade_type"
          v-validate="'required'"
          data-vv-scope="emergency"
          data-vv-name="grade_type"
          :class="{
            'c-input': true,
            'c-input--danger': errors.has('emergency.grade_type')
          }"
          name="grade_type"
        >
          <option value="" selected=""></option>
          <option value="G0">G0 - Por Definir</option>
          <option value="G1">G1 - G1</option>
          <option value="G2">G2 - G2</option>
          <option value="G3">G3 - G3</option>
        </select>
      </div>
      <small v-show="errors.has('emergency.grade_type')" class="c-field__message u-color-danger">
        <i class="fa fa-times-circle"></i>{{ errors.first('emergency.grade_type') }}
      </small>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <br />
      <div class="c-field">
        <label class="c-field__label" for="id_patient_notes">
          Notas paciente
        </label>
        <textarea
          tabindex="16"
          v-model="source.patient_notes"
          name="patient_notes"
          id="id_patient_notes"
          class="c-input"
          rows="2"
          cols="40"
        ></textarea>
      </div>
    </div>
  </div>
</form>
