{# Analytics #}
<div class="col-sm-12 col-lg-6 col-xl-3">
    <div class="c-state-card">
        <div class="c-state-card__icon c-state-card__icon--info">
            <i class="fa fa-line-chart"></i>
        </div>

        <div class="c-state-card__content">
            <h5 class="c-state-card__number">{{ object_list.count }}
            </h5>
            <a class="c-state-card__meta" href="/admin/">Emergencias<span class="u-text-success"></span></a>
        </div>
    </div>
</div><!-- // .col-md-3 -->

<div class="col-sm-12 col-lg-6 col-xl-3">
    <div class="c-state-card">
        <div class="c-state-card__icon c-state-card__icon--fancy">
            <i class="fa fa-pie-chart"></i>
        </div>

        <div class="c-state-card__content">
            <h5 class="c-state-card__number">3 {# checar unidades libres #}
            </h5>
            <a class="c-state-card__meta" href="/admin/">Unidades<span class="u-text-success"></span></a>
        </div>
    </div>
</div><!-- // .col-md-3 -->
