<!-- request loading indicator -->
<div v-if="loading">
  <loader class="completion_loading" color="#2ea1f8" />
  <small class="c-field__message u-color-info u-flex u-justify-center">
    Actualizando información de unidades...
  </small>
</div>

<form v-else>
  <div class="row">

    <div class="col-12">
      <div class="c-field">
        <label class="c-field__label" for="patient_address">
          Unidades Disponibles
        </label>
        <select
          @change="choose"
          v-model="current"
          class="c-input"
          id="id_units"
          name="units"
          required
        >
          <option v-for="unit in units" v-bind:value="unit.id">
            {{ unit.identifier }} - {{ unit.unit_type }}
          </option>
        </select>
      </div>
    </div>

  </div>
</form>

