{% extends "notifications/base.html" %}

{% block content %}
  {% load staticfiles %}
  <h1>AttentionDerivation</h1>
  <p>
    <label for="handle">Ejemplo de Notificaciones de AttentionDerivation</label>
  </p>
  <table id="notifications">
    <tbody>
      {% for derivation in derivations %}
        <tr>
          <td>{{ derivation.emergency }}</td>
          <td>{{ derivation.motive }}</td>
          <td>{{ derivation.hospital }}</td>
          <td>{{ derivation.eventualities }}</td>
          <td>{{ derivation.reception }}</td>
          <td>{{ derivation.notes }}</td>
          <td>{{ derivation.created_at }}</td>
          <td>{{ derivation.last_modified }}</td>
        </tr> 
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}


{% block extra_body %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
    <script src="{% static 'notifications/derivation.js' %}"></script>
{% endblock %}