{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}

<div class="container">
  <h2>Nuevo Incidente</h2>
  <!-- Trigger the modal with a button -->
  <button type="button" id="abre" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add</button>

{% include "emergency/newincidentmodal.html" %}



</div>


{% endblock %}

{% block javascript %}
<script type="text/javascript" language="javascript">
    $(document).ready(function(){
    	// var openmodal = 'true;'
    	// if( openmodal == {{ openmodal }} ){
     //    	$("#myModal").dialog({modal: true});
     //    	//$("#myModal").click();
     //    	$('#abre').trigger('click');
     //    }
        $('#abre').trigger('click');
        $('#id_odoo_client').val('{{ request.session.patientrequest.id }}');
    });
    //$("#myModal").dialog({modal: true});
</script>
{% endblock %}
