{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}

<div class="container">
  <h2>Nuevo Incidente</h2>
  <!-- Trigger the modal with a button -->
  <button type="button" id="abre" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add</button>

{% include "emergency/newincidentmodal.html" %}



</div>


{% endblock %}

{% block javascript %}
<script type="text/javascript" language="javascript">
    $(document).ready(function(){
    	// var openmodal = 'true;'
    	// if( openmodal == {{ openmodal }} ){
     //    	$("#myModal").dialog({modal: true});
     //    	//$("#myModal").click();
     //    	$('#abre').trigger('click');
     //    }
        $('#abre').trigger('click');
        $('#id_odoo_client').val('{{ request.session.patientrequest.id_odoo_client }}');
        $('#id_patient_name').val('{{ request.session.patientrequest.id_patient_name }}');
        $('#id_patient_allergies').val('{{ request.session.patientrequest.id_patient_allergies }}');
        $('#id_patient_illnesses').val('{{ request.session.patientrequest.id_patient_illnesses }}');
        $('#id_caller_relation').val('{{ request.session.patientrequest.id_caller_relation }}');
        $('#id_patient_age').val('{{ request.session.patientrequest.id_patient_age }}');
        $('#id_zone').val('{{ request.session.patientrequest.id_zone }}');
        $('#id_subscription_type').val('{{ request.session.patientrequest.id_subscription_type }}');
        // Create addreslist var with aviable addresses
        var addressList = {{ request.session.patientrequest.addresses|safe }};
        $( "#addresscombobox" )
          .change(function() {
            var str = "";
            $( "#addresscombobox option:selected" ).each(function() {
              //str += $( this ).text() + " ";
              str += $( this ).val() + "";
            });
            // Find data when select change
            // Begin lookup
            for(var i=0; i < addressList.length;i++)
            {
              if(str == addressList[i].id_address_id){
                //console.log("lo encontre!");
                $("#id_address_street").val(addressList[i].id_address_street);
                $("#id_address_extra").val(addressList[i].id_address_extra);
                $("#id_address_col").val(addressList[i].id_address_col);
                $("#id_address_zip_code").val(addressList[i].id_address_zip_code);
                $("#id_address_county").val(addressList[i].id_address_county);
                $("#id_address_between").val(addressList[i].id_address_between);
                $("#id_address_and_street").val(addressList[i].id_address_and_street);
                $("#id_address_ref").val(addressList[i].id_address_ref);
                $("#id_address_front").val(addressList[i].id_address_front);
                $("#id_address_instructions").val(addressList[i].id_address_instructions);
                $("#id_address_notes").val(addressList[i].id_address_notes);
              }

            }
            //end lookup
          })
          .trigger( "change" );

        });
    //$("#myModal").dialog({modal: true});
</script>

<!-- Vue-treeselect -->
<script src="https://cdn.jsdelivr.net/npm/@riophae/vue-treeselect@0.0.28/dist/vue-treeselect.min.js"></script>


<script type="text/javascript">

// Vue Store

var store = {
  debug: true,
  state: {
    message: '1-1000000',
  },
  setMessageAction (newValue) {
    if (this.debug) console.log('setMessageAction triggered with', newValue)
    this.state.message = newValue
  },
  clearMessageAction () {
    if (this.debug) console.log('clearMessageAction triggered')
    this.state.message = ''
  }
}

// Sleep function for async ajax api
const sleep = d => new Promise(r => setTimeout(r, d))

// Tree Select
Vue.component('treeselect', VueTreeselect.Treeselect)

new Vue({
  el: '#app3',
  store,
  data: {
    // define default value
    value: null,
    options: null,
  },
  methods: {
    // Use to asign vali when correct symptom selected from Decision tree
    showGrade: function (vm) {
      console.log('Selected!')
    },
    // Called when user click on component, load tree data based on main symptom selection
    async loadOpen (vm){
      //console.log('loadOpen');
      var my_result = []
      $.ajax({url: "/ajaxapi/get_tree_zero/",data: {'term': store.state.message} ,dataType: 'json', success: function(result){
              //console.log('call ajax');
              //console.log(result);
              return my_result=result;
              }}).responseJSON;
      await sleep(1000);
      this.options = my_result;
    },
  },
})
// End Tree Select

// Vue Select ajax
Vue.component('v-select', VueSelect.VueSelect);

new Vue({
  el: "#app5",
  data: {
    options: []
  },
  methods: {
    // Use when user beigin typing on main symptom field
    onSearch: function onSearch(search, loading) {
      loading(true);
      this.search2(loading, search, this);
    },

    // search: _.debounce(function (loading, search, vm) {
    //   fetch("http://localhost:8000/ajaxapi/get_symptom/?q=" + escape(search)).then(function (res) {
    //     res.json().then(function (json) {
    //       return vm.options = json.items;
    //     });
    //     loading(false);
    //   });
    // }, 350),

    search2: _.debounce(function (loading, search, vm){
              var self = vm;
              //Call ajax end point to get Main symptom list
              $.ajax({url: "/ajaxapi/get_symptom/",data: {'term': search} ,dataType: 'json', success: function(result){
                return vm.options = result;
              }});
              loading(false);
              return vm.options;
            },350),
    // Use when user select a symptom form list
    getTree: function(val){
      try {
        if(val.id){
          store.setMessageAction(val.id)
          }
        }
      catch{ console.log('sin seleccion!'); }
    },
  },
});


</script>
{% endblock %}
