{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}

<div class="container">
  <h2>Nuevo Incidente</h2>
  <!-- Trigger the modal with a button -->
  <button type="button" id="abre" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add</button>

{% include "emergency/newincidentmodal.html" %}



</div>


{% endblock %}

{% block javascript %}
<script type="text/javascript" language="javascript">
    $(document).ready(function(){
    	// var openmodal = 'true;'
    	// if( openmodal == {{ openmodal }} ){
     //    	$("#myModal").dialog({modal: true});
     //    	//$("#myModal").click();
     //    	$('#abre').trigger('click');
     //    }
        $('#abre').trigger('click');
        // $('#id_odoo_client').val("{% if request.session.patientrequest.client_export_id != 'None'%}{{ request.session.patientrequest.client_export_id }}{% else %}{{ request.session.patientrequest.id }}{% endif %}");
        $('#id_odoo_client').val('{{ request.session.patientrequest.id_odoo_client }}');
        $('#id_patient_name').val('{{ request.session.patientrequest.id_patient_name }}');
        $('#id_patient_allergies').val('{{ request.session.patientrequest.id_patient_allergies }}');
        $('#id_patient_illnesses').val('{{ request.session.patientrequest.id_patient_illnesses }}');
        $('#id_caller_relation').val('{{ request.session.patientrequest.id_caller_relation }}');
        $('#id_patient_age').val('{{ request.session.patientrequest.id_patient_age }}');
        //$('#id_address_street').val('{{ request.session.patientrequest.street }}');
        //$('#id_address_extra').val('{{ request.session.patientrequest.street2 }}');
        //$('#id_address_zip_code').val('{{ request.session.patientrequest.zip }}');
        //$('#id_patient_name').val('{{ request.session.patientrequest.name }}');
        //var str = '{{ request.session.patientrequest.zone }}';
        //var res = str.toUpperCase();
        //$('#id_zone').val(res);
        //$('#id_address_col').val('{{ request.session.patientrequest.sat_colonia_id }}')
    });
    //$("#myModal").dialog({modal: true});
</script>
{% endblock %}
