<!-- Modal -->
{% load widget_tweaks %}
<modal ref="modal" name="incident-modal" resizable scrollable width="75%" height="auto">
<form action="/emergency/new/" method="post">{% csrf_token %}
  <div class="c-toolbar">
    <h3 class="c-toolbar__title has-divider">Nuevo Incidente</h3>
    <h5 class="c-toolbar__meta">Captura de información de nuevos incidentes.</h5>
    <button class="c-close u-color-primary text u-ml-auto" type="button" @click="hide">×</button>
  </div>

  <div class="c-tabs">
    <nav class="c-tabs__list nav nav-tabs" id="myTab" role="tablist">
      <a class="c-tabs__link active" id="nav-home-tab" data-toggle="tab" href="#nav-search" role="tab" aria-controls="nav-search" aria-selected="true">Buscar</a>
      <a class="c-tabs__link" id="nav-profile-tab" data-toggle="tab" href="#nav-patient" role="tab" aria-controls="nav-patient" aria-selected="false">Paciente</a>
      <a class="c-tabs__link" id="nav-contact-tab" data-toggle="tab" href="#nav-address" role="tab" aria-controls="nav-address" aria-selected="false">Dirección</a>
      <a class="c-tabs__link" id="nav-contact-tab" data-toggle="tab" href="#nav-units" role="tab" aria-controls="nav-units" aria-selected="false">Unidad</a>
      <a class="c-tabs__link" id="nav-contact-tab" data-toggle="tab" href="#nav-timers" role="tab" aria-controls="nav-timers" aria-selected="false">Timers</a>
    </nav>

    <div class="c-tabs__content tab-content" id="nav-tabContent">
      <div class="c-tabs__pane active" id="nav-search" role="tabpanel" aria-labelledby="nav-search-tab">
        {# Busqueda #}
        <form id="searchpatient" action="/emergency/getpatient/" method="post">
          {% csrf_token %}
          <label class="c-field__label" for="id_client_name">Nombre:</label>
          <input class="c-input" type="text" id="id_client_name" name="client_name" placeholder="Alsea SA. de CV.">

          <input id="continuebutton" type="submit" value="Continuar" />
        </form>
      </div>

      <div class="c-tabs__pane" id="nav-patient" role="tabpanel" aria-labelledby="nav-patient-tab">
        Paciente
      </div><!-- End Patient TAB -->

      <div class="c-tabs__pane" id="nav-address" role="tabpanel" aria-labelledby="nav-address-tab">
        Dirección
      </div><!-- End Address TAB -->

      <div class="c-tabs__pane" id="nav-units" role="tabpanel" aria-labelledby="nav-units-tab">
        Unidad
      </div><!-- End Unit TAB -->

      <div class="c-tabs__pane" id="nav-timers" role="tabpanel" aria-labelledby="nav-timers-tab">
        Tiempos
      </div><!-- End Timer TAB -->
    </div>
  </div>
</form>
</modal>
