<!-- Modal -->
{% load widget_tweaks %}
<modal
  ref="modal"
  name="incident-modal"
  resizable
  scrollable
  width="75%"
  height="auto"
  @opened="open"
  @closed="destroy">

  <div>
    <div class="c-tabs">
      <nav class="c-tabs__list nav nav-tabs" id="modal-nav" role="tablist">
        <a
          v-for="{label, name} in tabs"
          v-on:click="toggle"
          :id="`nav-${name}-tab`"
          :href="`#nav-${name}`"
          class="c-tabs__link"
          :data-name="name"
          data-toggle="tab"
          role="tab"
          :aria-controls="`nav-${name}`">
            <% label %>
        </a>
        <div v-if="active !== 'search'" class="modal-buttons">
          <div
            @click="toggleActive"
            :class="{'c-switch': true, 'is-active': emergency.is_active }"
            style="margin-right:60px"
          >
            <input
              class="c-switch__input"
              name="is_active"
              id="is_active"
              type="checkbox"
              v-model="emergency.is_active"
            />
            <label v-if="emergency.is_active" class="c-switch__label" for="is_active">
              Activo
            </label>
            <label v-else class="c-switch__label" for="is_active">
              Inactivo
            </label>
          </div>

          <button
            @click="submit"
            class="c-btn c-btn--info">
              Guardar Auxilio
          </button>
        </div>
      </nav>

      <div class="c-tabs__content tab-content" id="nav-tabContent">
        <!-- Search TAB -->
        <div class="c-tabs__pane active" id="nav-search" role="tabpanel" aria-labelledby="nav-search-tab">
          <search />
        </div><!-- End Search TAB -->

        <!-- Patient TAB -->
        <div class="c-tabs__pane" id="nav-patient" role="tabpanel" aria-labelledby="nav-patient-tab">
          <patient />
        </div><!-- End Patient TAB -->

        <!-- Address TAB -->
        <div class="c-tabs__pane" id="nav-address" role="tabpanel" aria-labelledby="nav-address-tab">
          <addresses />
        </div><!-- End Address TAB -->

        <!-- Units TAB -->
        <div class="c-tabs__pane" id="nav-units" role="tabpanel" aria-labelledby="nav-address-tab">
          <units />
        </div><!-- End Units TAB -->

        <!-- Timers TAB -->
        <div class="c-tabs__pane" id="nav-timers" role="tabpanel" aria-labelledby="nav-address-tab">
          <timers />
        </div><!-- End Timers TAB -->

      </div>
    </div>
  </div>
</modal>
<section>
  <notifications position="bottom right" />
</section>
