{% extends 'home/base_ui.html' %}
{% load staticfiles %}

{% block cssblock %}
  <link rel="stylesheet" href='{% static "bower_components/jquery-ui/themes/base/jquery-ui.css" %}'  type="text/css" media="all" />
{% endblock cssblock %}

{% block header %}
  {# Main Sidebar #}
  {% include "ui_component/sidebar.html" %}

{% endblock header %}

{% block content %}
  <main class="o-page__content">
    {# Main header #}
    {% include "ui_component/header.html" %}

    <div class="container">
      <div class="row">
        {# TODO add mini components of wireframe#}
        {% include "ui_component/analytics.html" %}
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="c-card u-mb-large">
            <div class="c-card__head">
              <h3 class="c-card__title">Incidentes</h3>
            </div>
            <div id="dashboard-log"></div>
          </div><!-- // .c-card -->
        </div>
      </div><!-- // .row -->
    </div> <!-- // .container -->
  </main><!-- // .o-page__content -->
{% endblock %}

{% block jsheadblock %}
<script>
  var json_list = {{ object_list|safe }};
  window.erste.incidents = json_list;
  // example HTTP_PROTOCOL: {{ HTTP_PROTOCOL }}
  // ie. ABSOLUTE_URI : {{ HTTP_ABSOLUTE_URI }}
</script>
{% endblock jsheadblock %}

{% block jsblock %}
  {% load render_bundle from webpack_loader %}
  {% render_bundle 'dashboard' 'js' %}
{% endblock jsblock%}
