{% extends 'home/base_ui.html' %}
{% load staticfiles %}

{% block header %}
  {# Main Sidebar #}
  {% include "ui_component/sidebar.html" %}

{% endblock header %}

{% block content %}
  <main class="o-page__content">
    {# Main header #}
    {% include "ui_component/header.html" %}

    <div class="container">
      <div class="row">
        {# TODO add mini components of wireframe#}
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="c-card u-mb-large">
            <div class="c-card__head">
              <h3 class="c-card__title">Invoicing</h3>
            </div>

            <table class="c-table">
              <thead class="c-table__head c-table__head--slim">
                <tr class="c-table__row">
                    <th class="c-table__cell c-table__cell--head">Cliente</th>
                    <th class="c-table__cell c-table__cell--head">Grado</th>
                    <th class="c-table__cell c-table__cell--head">Unidad</th>
                    <th class="c-table__cell c-table__cell--head">Tiempo</th>
                    <th class="c-table__cell c-table__cell--head">Estado</th>
                    <th class="c-table__cell c-table__cell--head">
                        <span class="u-hidden-visually">Acciones</span>
                    </th>
                </tr>
              </thead>

              <tbody>

                {% for emergency in object_list %}
                  <tr id="{{emergency.id}}" class="c-table__row">
                    <td class="c-table__cell"><span class="u-text-mute">{{emergency.odoo_client}}</span></td>
                    <td class="c-table__cell">{{emergency.grade_type}}</td>
                    <td class="c-table__cell">
                      <span class="u-text-mute">
                        {% for unit in emergency.unit.all %}
                          {% if forloop.last %} {{unit}} {% else %} {{unit}}, {% endif %}
                        {% empty %}
                          Sin Asignar
                        {% endfor %}
                    </span>
                    </td>
                    <td class="c-table__cell">
                      <span class="u-text-mute">{{emergency.start_time}}</span>
                    </td>
                    <td class="c-table__cell">
                      <span class="c-badge c-badge--small c-badge--success">{{emergency.is_active|yesno:"En Camino, Terminado"}}</span>
                    </td>

                    <td class="c-table__cell u-text-center">
                      <div class="c-dropdown dropdown">
                        <button class="c-btn c-btn--secondary has-dropdown dropdown-toggle" id="dropdownMenuButton10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acciones</button>

                        <div class="c-dropdown__menu dropdown-menu" aria-labelledby="dropdownMenuButton10">
                          <a class="c-dropdown__item dropdown-item" href="#">Servicio de Derivación</a>
                          <a class="c-dropdown__item dropdown-item" href="#">Ver tiempos</a>
                          <a class="c-dropdown__item dropdown-item" href="#">Ver resumen</a>
                          <a class="c-dropdown__item dropdown-item" href="#">Ver resumen</a>
                        </div>
                      </div>
                    </td>
                  </tr><!-- // .table__row -->
                {% endfor %}
              </tbody>
            </table>
          </div><!-- // .c-card -->
        </div>
      </div><!-- // .row -->
    </div> <!-- // .container -->
  </main><!-- // .o-page__content -->
{% endblock %}

{% block jsblock %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
  <script src="{% static 'notifications/dashboard.js' %}"></script>
  <script>
    console.log(socket_data);
  </script>
{% endblock jsblock%}