{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<h1>Incidents</h1>

<table class="table table-striped">
	<thead>
   <tr>
     <th>Incident Id</th>
     <th>Start Time</th>
     <th>End Time</th>
     <th>Type</th>
     <th>Zone</th>
     <th>Status</th>
     <th>Timer</th>
     <th>Actualizar</th>
     <th>Reactivar</th>
   </tr> 
  </thead>
  <tbody>
    {% for emergency in object_list %}
      <tr>
        <td><a href="/emergency/{{emergency.id}}/">Id:{{emergency.id}}</td>
        <td>{{ emergency.start_time }}</td>
        <td>{{ emergency.end_time }}</td>
        <td>{{ emergency.grade_type.name }}</td>
        <td>{{ emergency.zone.name }}</td>
        {% if emergency.is_active%}
          <td>Activa</td>
        {% else %}
          <td>Inactiva</td>
        {% endif%}
        <td>{{ emergency.emergencyTimer }}</td>
        <td><a href="/emergency/update/{{emergency.id}}/">
          <span class="fa fa-pencil"></span></a>
        </td>
        <td>
          <a href="/emergency/activate/{{ emergency.id }}/">
            <span class="fa fa-check-circle-o"></span>
          </a>
        </td>
      </tr>
    {% empty %}
    <li>No incidents yet.</li>
    {% endfor %}

  </tbody>
</table>


{% endblock %}