<!-- request loading indicator -->
<div v-if="loading">
  <loader class="completion_loading" color="#2ea1f8" />
  <small class="c-field__message u-color-info u-flex u-justify-center">
    Buscando información del cliente...
  </small>
</div>

<form v-else>
	<div class="row">
		<div class="col-4">Derivaciones:</div>
		<div class="col-4">
			<a class="c-project__profile c-project__profile--btn c-tooltip c-tooltip--top" aria-label="Agregar Derivacion" :href="emergency_link" target="_blank">
            <i class="fa fa-plus" />
            </a>
		</div>
		<div class="col-4"></div>

	</div>
</form>